<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO -->
    <title>Symfony, React y 7,5 Millones de usuarios diarios</title>
    <meta name="description" content="Symfony, React y 7,5 Millones de usuarios diarios una magnifica presentacion realizada en la edicion 2017 de deSymfony">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/base.css">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/colors.css">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/svg-icons.css">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' media='all' href="static/css/highlight/dracula.css">


    <!-- FACEBOOK -->
    <meta property="og:url" content="http://slides.solilokiam.com/deSymfony2017/symfony-react-7-5-millones-de-usuarios-diarios">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Symfony, React y 7,5 Millones de usuarios diarios">
    <meta property="og:description" content="Symfony, React y 7,5 Millones de usuarios diarios una magnifica presentacion realizada en la edicion 2017 de deSymfony">
    <meta property="og:updated_time" content="2017-01-04T17:20:50">
    <meta property="og:image" content="static/images/share-webslides.jpg">

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@solilokiam">
    <meta name="twitter:title" content="Symfony, React y 7,5 Millones de usuarios diarios">
    <meta name="twitter:description" content="Symfony, React y 7,5 Millones de usuarios diarios una magnifica presentacion realizada en la edicion 2017 de deSymfony">
    <meta name="twitter:image" content="static/images/share-webslides.jpg">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="static/images/favicons/favicon.ico">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">

  </head>
  <body>
    <main role="main">
      <article id="webslides" class="vertical">
        <section class="fullscreen bg-white">
          <img src="static/images/portada.jpg" width="100%" />
        </section>
        <section class="fullscreen bg-white">
          <img src="static/images/patrocinadores.jpg" width="100%" />
        </section>
        <section class="slideInLeft bg-black">
            <span class="background" style="background-image:url('static/images/backgrounds/chris-leipelt-193318.jpg')"></span>
            <div class="wrap">
              <h2>¿Quien soy?</h2>
            </div>
        </section>
        <section class="fullscreen">
          <div class="card-50">
            <figure>
              <img src="static/images/avatar.jpg" alt="Miquel Company Rodriguez">
            </figure>
            <!-- end figure-->
            <div class="flex-content">
              <h2><strong>Miquel Company</strong></h2>
              <p class="text-intro">Fullstack Developer en Kodify</p>
              <ul class="flexblock specs">
                <li>
                  <div>
                    <h2>
                      <i class="fa fa-briefcase fa-pull-left fa-3x"></i>
                      7+ años trabajando con Symfony
                    </h2>
                    El último año y medio haciendo cosas con React
                  </div>
                </li>
                <li>
                  <div>
                    <h2>
                      <i class="fa fa-home fa-pull-left fa-3x"></i>
                      Padre de familia
                    </h2>
                    Aerotrastornado, whovian y piloto FPV
                  </div>
                </li>
                <li>
                  <div>
                    <h2>
                      <i class="fa fa-twitter fa-pull-left fa-2x"></i>
                      solilokiam
                    </h2>
                  </div>
                </li>
                <li>
                  <div>
                    <h2>
                      <i class="fa fa-github fa-pull-left fa-2x"></i>
                      http://github.com/solilokiam
                    </h2>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="bg-white">
          <div class="wrap aligncenter">
            <img src="static/images/logos/kodify.svg" width="200"/>
            <ul class="flexblock metrics">
              <li><span>7</span>sites</li>
              <li><span>7,5M</span> usuarios diarios</li>
              <li><span>8500TB+</span> servidos al mes</li>
              <li><span>133M</span> requests diarias</li>
              <li><span>30000+</span> horas de video servidos al día</li>
              <li><span>600000+</span> videos</li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap fadeInDown aligncenter">
            <h1>¿Pero qué hacemos en Kodify?</h1>
          </div>
        </section>
        <section class="bg-black">
          <div class="wrap aligncenter">
            <h2><img src="static/images/logos/PornTube.png"/></h2>
            <ul class="flexblock">
              <li><img src="static/images/logos/4tube-logo.png"/></li>
              <li><img src="static/images/logos/fux-logo.png"/></li>
              <li><img src="static/images/logos/pornerbros-logo.png"/></li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <ul class="flexblock">
              <li><img src="static/images/logos/blacked-logo.png"/></li>
              <li><img src="static/images/logos/tushy-logo.png"/></li>
              <li><img src="static/images/logos/vixen-logo.png"/></li>
            </ul>
          </div>
        </section>
        <section>
          <h1>Siempre estamos buscando talento...</h1>
        </section>
        <section class="slide-top bg-white">
          <span class="background" style="background-image:url('static/images/backgrounds/couch.jpg')"></span>
          <div class="wrap">
            <h1 class="content-center">Join us @kodify.io</h1>
          </div>
        </section>
        <section class="bg-black slideInLeft">
          <span class="background" style="background-image:url('static/images/backgrounds/nasa-43979.jpg')"></span>
           <!--.wrap = container (width: 90%) -->
           <div class="wrap aligncenter">
             <h1><strong>Un poco de história</strong></h1>
           </div>
           <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <!--.wrap = container (width: 90%) -->
           <div class="wrap">
              <div class="card-50">
                <figure>
                  <img src="static/images/olddiagram.svg"/>
                </figure>
                <div class="flex-content">
                  <h2>Hasta Ahora</h2>
                  <p>Apache, PHP5.6, Symfony 2.7, ElasticSearch, AuroraDB, Redis, Jquery, Gulp, CSS3, Chef, Cloudformation, PHPUnit, Behat, Selenium, Codeship</p>
                </div>

              </div>
           </div>
           <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <!--.wrap = container (width: 90%) -->
           <div class="wrap aligncenter">
              <div class="flex-content">
                <h2>¿Que no nos acaba de funcionar?</h2>
                <ul class="flexblock features">
                  <li>
                    <h2><i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i> Frontend</h2>
                    CSS que ha engordado<br/>
                    Jquery<br/>
                    Twig<br/>
                    2 versiones (desktop/mobile)
                  </li>
                  <li>
                    <h2><i class="fa fa-server fa-2x" aria-hidden="true"></i> Backend</h2>
                    Controladores que han cogido peso<br/>
                    Modelo Anémico<br/>
                  </li>
                  <li>
                    <div>
                      <h2><i class="fa fa-microchip fa-2x" aria-hidden="true"></i> Infrastructura</h2>
                      Chef<br/>
                      Autoescalado Manual<br/>
                      Costes<br/>
                      Tiempo de Build Lento
                    </div>
                  </li>
                </ul>
              </div>
           </div>
           <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap">
            <h1>Hace unos meses...</h1>
            <blockquote class="text-quote">
              <p>Nuestro site se esta quedando antiguo y necesita un lavado de cara</p>
            </blockquote>
          </div>
        </section>
        <section class="bg-black">
          <span class="background " style="background-image:url('static/images/backgrounds/isaac-wendland-172508.jpg')"></span>
          <div class="wrap slideInLeft">
            <h1>Empieza la lista a los reyes magos...</h1>
          </div>
        </section>
        <section>

          <div class="wrap">
            <h1>Queridos reyes magos...</h1>
            <div class="grid">
              <div class="column">
                <ul class="description text-intro">
                  <li>Limpiar y hacer nuestro CSS modular con SASS</li>
                  <li>Poner orden a JQuery</li>
                  <li>DDD</li>
                  <li>Poner los controladores a dieta</li>
                  <li>Cambiar la manera como orquestramos</li>
                </ul>
              </div>
              <div class="column">
                <ul class="description text-intro">
                  <li>Poner orden a las plantillas de twig</li>
                  <li>Jenkins</li>
                  <li>Symfony 3</li>
                  <li>Live Reload</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-black">
          <span class="background " style="background-image:url('static/images/backgrounds/rodion-kutsaev-184298.jpg')"></span>
          <div class="wrap fadeInUp aligncenter">
            <h1>Mobile First</h1>
            <p class="text-subtitle">Más de la mitad de nuestros users utilizan la versión mobile</p>
          </div>
        </section>
        <section>
          <div class="wrap fadeInUp">
            <h2>Nuestra aplicación ha de ser:</h2>
              <ul class="flexblock features">
                <li><strong>Progresiva:</strong> Ha de funcionar para todos los usuarios. La mejora progresiva es el principio central.</li>
                <li><strong>Responsive:</strong> Se ha de ver bien en todos los dispositivos. Escritorio, Móvil, Tablet, o lo que sea...</li>
                <li><strong>Conection Independent:</strong> Ha de poder funcionar bien, en redes lentas, o sin conexión.</li>
                <li><strong>Segura:</strong> Han de estar servidas por HTTPS/TLS</li>
                <li><strong>Ligera:</strong> Minimizar al máximo la carga, tanto de datos como de CPU</li>
                <li><strong>Interactiva: </strong> A la hora de interactuar con ella ha de dar un feedback adecuado.</li>
              </ul>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <img src="static/images/logos/react.png" width="300" />
            <h1>React All The Things</h1>
          </div>
        </section>
        <section class="bg-black slideInLeft">
          <span class="background" style="background-image:url('static/images/backgrounds/luca-bravo-186960.jpg')"></span>
           <!--.wrap = container (width: 90%) -->
           <div class="wrap aligncenter">
             <h1><strong>¿Como lo hemos montado?</strong></h1>
           </div>
           <!-- .end .wrap -->
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
              <h2>Componentes independientes</h2>
              <p>Crear una serie de componentes independientes e insertarlos en nuestras plantillas Twig</p>
              <div class="content-left">
                <h3>Pros</h3>
                <ul>
                  <li>Fácil de hacer</li>
                  <li>Prototipaje rápido</li>
                  <li>Curva de aprendizaje</li>
                </ul>
              </div>
              <div class="content-left">
                <h3>Cons</h3>
                <ul>
                  <li>No aprovechar toda la potencia</li>
                  <li>No muy SEO-Friendly</li>
                  <li>Comunicación entre componentes</li>
                </ul>
              </div>
            </div>
            <div class="content-left">
              <img src="static/images/youtube-screenshot.png" alt="Youtube Screenshot">
            </div>
          </div>
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
              <img src="static/images/youtube-screenshot-clean.png" style="border: 1px solid red" alt="Youtube Screenshot">
            </div>
            <div class="content-left">
              <h2>Single Page App</h2>
              <p>La aplicación carga una única página y la actualiza dinámicamente mientras el usuario interacciona con ella.</p>
              <div class="content-left">
                <h3>Pros</h3>
                <ul>
                  <li>Comunicación entre componentes</li>
                  <li>Flexible</li>
                  <li>SEO-Friendly con SSR</li>
                  <li>Potente</li>
                </ul>
              </div>
              <div class="content-left">
                <h3>Cons</h3>
                <ul>
                  <li>Curva de aprendizaje</li>
                  <li>V => MVC</li>
                  <li>Complicado de empezar</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h1>Server Side Rendering</h1>
            <div class="grid">
              <div class="column">
                <p class="text-intro">Sin esto esta charla no tendria sentido.</p>
                <ul>
                  <li>Nuestra SPA renderiza el HTML en el lado de servidor.</li>
                  <li>Los Robots reciben contenido que pueden entender.</li>
                  <li>React se enlaza con el HTML renderizado en cliente</li>
                  <li>En Server Side <strong>no hay</strong> window, document, etc...</li>
                </ul>
              </div>
              <div class="column">
                <pre class="code">
<code class="js">
import React from 'react';
import { renderToString } from 'react-dom/server';

const renderApp = () => {
  const app = (
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
  );

  return renderToString(app);
};
</code>
                </pre>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <h3>SSR y Symfony</h3>
            <h3><a href="https://github.com/Limenius/ReactBundle">https://github.com/Limenius/ReactBundle</a></h3>
            <p><img class="avatar-80" src="static/images/nachoavatar.jpg"/></p>
          </div>
        </section>
        <section class="fullscreen">
            <div class="grid">
              <div class="column">
                <pre>
<code class="twig">
{% extends 'base.html.twig' %}

{% block body %}
  {{ react_component('ReactApp', {'props': props}) }}
{% endblock %}

{% block javascripts %}
  &lt;script src="{{ asset('build/app.js') }}"&gt;&lt;/script&gt;
{% endblock %}
</code>
                </pre>
                <pre>
<code class="js">
  import ReactOnRails from 'react-on-rails'
  import ReactApp from './server/ReactApp'

  ReactOnRails.register({ ReactApp })
</code>
                </pre>
              </div>
              <div class="column">
                <pre>
<code class="php">
/**
 * @Route("/", name="homepage")
 */
public function homeAction(Request $request)
{
    $serializer = $this->get('serializer');
    return $this->render('recipe/home.html.twig', [
        'props' => $serializer->normalize(
            ['foo' => $this->get('foo.repository')->findAll(),
             'baseUrl' => $this->generateUrl('homepage'),
             'location' => $request->getRequestUri()
            ])
    ]);
}
</code>
                </pre>
              </div>
            </div>
        </section>
        <section>
          <h1>Al 99% de la gente ya le funciona esta solución...</h1>
        </section>
        <section>
          <div class="wrapper">
            <div class="content-right">
              <h1 class="alignright">...A nosotros NO</h1>
            </div>
          </div>
        </section>
        <section class="fullscreen">
          <div class="wrap aligncenter">
            <div>
              <h2>PhpExecJs</h2>
              <img src="static/images/LoadingTimeline.png" width="583"/>

              <h2>External Node Server</h2>
              <img src="static/images/LoadingTimeline2.png" width="413"/>
            </div>
            <p class="alignright">*No están a escala</p>
          </div>
        </section>
        <section class="bg-white slideInLeft">
          <div class="wrap aligncenter">
            <img src="static/images/logos/expressjs.png" />
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>¿Que hacemos con ExpressJS?</h2>
            <p class="text-intro">
              Una aplicación muy simple con solamente 2 misiones.
            </p>
            <ul class="flexblock features">
              <li>
                <div>
                  <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> Renderizar SSR</h2>
                  Controlador único.<br>
                  Routing gestionado desde React.<br>
                  Cache de Vista
                </div>
              </li>
              <li>
                <div>
                  <h2><i class="fa fa-server" aria-hidden="true"></i> Proxy de la API</h2>
                  Frontend no se contecta diréctamente con el backend.<br>
                  Cacheamos la mayoria de responses.<br>
                  Cocinamos datos.
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <div>
              <h2>Worst Case Scenario</h2>
              <img src="static/images/ExpressTimeline.png" width="366"/>
              <h2>Best Case Scenario</h2>
              <img src="static/images/ExpressBestCaseTimeline.png" width="55"/>
            </div>
            <p class="alignright">*No están a escala</p>
          </div>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/thomas-kvistholt-191153.jpg')"></span>
          <div class="wrap">
            <h1>¿Y el Backend?</h1>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Backend</h2>
            <p class="textintro">Hemos reescrito la aplicación antigua completamente. Utilizando "mejores practicas".</p>
            <ul class="flexblock features">
              <li><h2>CQRS</h2> Lectura desde ElasticSearch, Escritura a MySQL (Aurora)</li>
              <li><h2>DDD</h2> Separación por capas muy lightweight.</li>
              <li><h2>Command Bus</h2> Utilizamos Tactician.</li>
              <li><h2>Serializacion</h2> Nuestro modelo devuelve objectos, colecciones de objetos, todo el trabajo lo hace el jms_serializer.</li>
              <li><h2>Legacy</h2> Hemos integrado mucho código legacy desacoplandolo con DDD.</li>
              <li><h2>Stateless</h2> Nuestro back es completamente stateless. Toda la autenticación funciona a traves de JSON Web Token.</li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap">
            <pre>
<code class="php">
public function getHomeAction(ParamFetcher $fetcher): array
{
    $req = new GetHomeRequest($fetcher->all());

    return $this->handle($req);
}
</code>
            </pre>
          </div>
        </section>
        <section class="fullscreen">
          <div class="wrap">
            <pre>
<code class="php">
  public function handle(GetHomeRequest $request): array
      {
          $isMobile = $request->isMobile();

          $topChannels = $this->bus->handle(new GetTopChannelsRequest($request->getRaw([
              CommandRequest::LIMIT => self::TOP_CHANNELS_QTY
          ])));

          $response = array_merge(
              [
                  'mostViewedVideos' => $this->bus->handle(new GetMostViewedVideosRequest($request->getRaw([
                      CommandRequest::LIMIT => $isMobile ? self::MOBILE_VIDEOS_MOST_VIEWED_QTY : self::MOST_VIEWED_VIDEOS_QTY
                  ]))),

                  'mostRecentVideos' => $this->bus->handle(new GetRecentVideosRequest($request->getRaw([
                      CommandRequest::LIMIT =>  $isMobile ? self::MOBILE_VIDEOS_MOST_RECENT_QTY : self::RECENT_VIDEOS_QTY
                  ]))),

                  'topChannels' => array_slice($topChannels, 0, $isMobile ? self::MOBILE_TOP_CHANNELS_QTY : self::TOP_CHANNELS_TO_DISPLAY_QTY),

                  'featuredPornstars' => $this->bus->handle(new GetPornstarsRequest($request->getRaw([
                      CommandRequest::LIMIT =>  $isMobile ? self::MOBILE_FEATURED_PORNSTARS_QTY : self::FEATURED_PORNSTARS_QTY
                  ]))),
              ],
              $this->handleEmbedded($request)
          );

          return $isMobile
              ? $response
              : array_merge($response, [
                  'topChannelsVideos' => $this->getTopChannelsVideos($request, $topChannels)
              ])
          ;
      }
</code>
            </pre>
          </div>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/samuel-zeller-118195.jpg')"></span>
          <div class="wrap">
            <h2>Gestión de estados</h2>
          </div>
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
              <h2>Gestión de Estados</h2>
              <p>En Symfony el estado suele residir en el servidor</p>
              <div class="content-left">
                <h3>PHP es stateless</h3>
                <p>Necesitamos un apoyo externo. Redis, Mysql, Memcached, Cookies...</p>
              </div>
              <div class="content-left">
                <h3>La sesión es el rey</h3>
                <p>Si perdemos la conexión estamos perdidos</p>
              </div>
            </div>
            <div class="content-left">
              <pre>
<code class="php">
public function indexAction(SessionInterface $session)
{
  $session = $request->getSession();

  $session->set('foo', 'bar');

  $foobar = $session->get('foobar');

  $filters = $session->get('filters', array());
}
</code>
              </pre>
            </div>
          </div>
        </section>
        <section>
          <h2>Estado en la URL</h2>
          <p>Muchas veces guardamos información en la url a traves de parametros o querystring</p>
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
              <h2>Estado del componente</h2>
            </div>
            <div class="content-left">
              <p>Un componente puede almacenar su estado de manera <strong>aislada</strong> e <strong>independiente</strong>. Un cambio en el estado <strong>re-renderiza solamente</strong> el componente afectado</p>
            </div>
            <ul class="flexblock features">
              <li><p>Abierto/Cerrado</p></li>
              <li><p>Fake Interaction</p></li>
              <li><p>Contadores Internos</p></li>
            </ul>
          </div>
        </section>
        <section class="fullscreen">
          <div class="wrapper">
            <pre>
<code class="js">
class ClickCounter extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      clicks: 0
    };

    this.clickButton = this.clickButton.bind(this);
  }

  clickButton() {
    this.setState({
      clicks: this.state.clicks + 1,
    });
  }

  render() {
    return (
      &lt;button onClick={this.clickButton}&gt;
        This button has been clicked {this.state.clicks} times
      &lt;/button&gt;
    );
  }
}
</code>
            </pre>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Estado de la aplicación</h2>
            <ul class="flexblock">
              <li>
                <h2>Browser Side</h2>
                La información reside en el lado del cliente.
              </li>
              <li>
                <h2>Propagable</h2>
                No esta aislado. Un cambio en el estado se propaga a través de todos los contenedores.
              </li>
              <li>
                <h2>Persitible</h2>
                Lo podemos persistir en el local storage, session storage, indexedDB, cookie o donde queramos.
              </li>
              <li>
                <h2>Conection-less</h2>
                Puedes alterarlo todo lo que quieras sin necesidad del lado de servidor.
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <img src="static/images/logos/redux.png" width="500" />
            <h2>React <i class="fa fa-heart"></i> Redux</h2>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Tres Principios</h2>
            <ul class="flexblock">
              <li>
                <h2>Origen único de la verdad</h2>
                <p>El estado de la aplicación se guarda en un objecto dentro de un <strong>store</strong> único</p>
              </li>
              <li>
                <h2>El estado es exclusivo de lectura</h2>
                <p>La única manera de alterar el estado es emitir una <strong>action</strong></p>
              </li>
              <li>
                <h2>Los cambios se hacen con funciones puras</h2>
                <p>Para especificar como las acciones alteran el estado escribimos <strong>reductores</strong> puros</p>
            </ul>
          </div>
        </section>
        <section class="fullscreen">
            <div class="wrap aligncenter">
              <img src="static/images/reduxState.png" width="700" />
            </div>
        </section>
        <section>
          <h2>Acciones</h2>
          <pre>
<code class="js">
export const setOrientation = orientation => (
  {
    type: 'SET_ORIENTATION',
    orientation,
  }
);
</code>
          </pre>
        </section>
        <section>
          <h2>Reducers</h2>
          <pre>
<code class="js">
function config(state = {}, action) {
  switch (action.type) {
    case 'SET_ORIENTATION': {
      return { ...state, orientation: action.orientation };
    }

    default:
      return state;
  }
}
</code>
          </pre>
        </section>
        <section>
          <div class="wrap aligncenter">
            <h2 class="alignleft">Flujo de datos</h2>
            <div>
              <img src="static/images/reduxFlow.gif" width="800"/>
            </div>
            <a href="http://slides.com/jenyaterpil/redux-from-twitter-hype-to-production#/">http://slides.com/jenyaterpil/redux-from-twitter-hype-to-production#/</a>
          </div>
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
            <h2>Conexion con el backend</h2>
            <ul class="flexblock specs">
              <li>Los action creators son síncronos</li>
              <li>Redux-Thunk es un middleware que los transforma en asíncronos</li>
              <li>Los action creator devuelven una función (thunk) que tiene como parametros dispatch y getState</li>
            </ul>
            </div>
            <div class="content-left">
              <pre>
<code class="js">
export const createCommentResponse = data => (
  {
    type: CREATE_COMMENT,
    comment: data,
  }
);

export function createCommentRequest(videoUuid, comment) {
  return (dispatch) => {
    const url = `/api/videos/${videoUuid}/comments`;

    return axios.post(url, { comment })
      .then((response) => {
        dispatch(createCommentResponse(response.data));
      })
      .catch(() => {
        dispatch({
          type: MESSAGE_ERROR_COMMENT,
          message: ERROR_CREATE_COMMENT,
        });
      });
  };
}
</code>
              </pre>
            </div>
          </div>
        </section>
        <section>
          <div class="wrapper aligncenter">
            <img src="static/images/reduxThunkFlow.gif" width="650"/>
            <a href="http://slides.com/jenyaterpil/redux-from-twitter-hype-to-production#/">http://slides.com/jenyaterpil/redux-from-twitter-hype-to-production#/</a>
          </div>
        </section>
        <section>
          <h2>Persistencia</h2>
          <ul class="flexblock features">
            <li><h2>¿Como lo guardamos?</h2> Utilizamos redux-persist. Persistencia/Hidratación automática, extensible, fácil de utilizar</li>
            <li><h2>¿Que guardamos?</h2> Preferencias del usuario, Información de Autenticación, Initial State...</li>
            <li><h2>¿Donde lo guardamos?</h2> Depende de las características del browser. LocalStorage, WebSQL, IndexedDB</li>
            <li><h2>¿Cuanto lo guardamos?</h2> Depende de la información</li>
            <li><h2>¿Funciona siempre?</h2> No siempre, hemos de estar preparados para fallar. Modo Incógnito.</li>
          </ul>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/joey-kyber-132520.jpg')"></span>
          <div class="wrap">
            <h2>Routing</h2>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h1>Routing</h1>
            <div class="grid">
              <div class="column">
                <ul class="flexblock specs">
                  <li>Completamente gestionado desde React</li>
                  <li>React Router 4 (aunque empezamos con el 3)</li>
                  <li>No conectado con el store</li>
                  <li>Composition everywhere</li>
                </ul>
              </div>
              <div class="column">
                <pre>
<code class="js">
&lt;Provider store={this.store}&gt;
  &lt;IntlProvider&gt;
    &lt;Router history={history}&gt;
      &lt;App&gt;
        &lt;RouteHandler&gt;
          &lt;RouteRenderer /&gt;
        &lt;/RouteHandler&gt;
      &lt;/App&gt;
    &lt;/Router&gt;
  &lt;/IntlProvider&gt;
&lt;/Provider&gt;
</code>
                </pre>
              </div>
            </div>
          </div>
        </section>
        <section class="fullscreen">
          <div class="wrap">
            <h2>&lt;RouteRenderer&gt;</h2>
            <p class="text-intro">Traduce de nuestro fichero de configuración a algo que entiende ReactRouter</p>
            <pre>
<code class="js">
export default [
  {
    name: 'video_page',
    path: '/videos/:slug\\_:uuid',
    component: Video,
    fetchData: dataFetcher.fetchVideoData,
  },
  {
    name: 'user_playlists',
    path: '/users/:username/playlists',
    component: UserPlaylists,
    requireAuth: true,
  },
  {
    name: 'home',
    path: `/:orientation(${orientations.ORIENTATION_GAY}|${orientations.ORIENTATION_SHEMALE})?/`,
    component: Home,
    fetchData: dataFetcher.fetchHomeData,
    exact: true,
  },
];
</code>
            </pre>
          </div>
        </section>
        <section class="fullscreen">
          <div class="wrap">
            <h2>&lt;RouteHandler&gt;</h2>
            <p class="text-intro">El chico listo de clase</p>
            <ul class="flexblock steps">
              <li>
                <h2>Petición de datos al backend</h2>
                  Utilizando promesas y de manera asíncrona.
              </li>
              <li>
                <h2>Petición de componentes (code splitting)</h2>
                  La optimización sin querer...
              </li>
              <li>
                <h2>Mount &amp; Unmount</h2>
                No realizamos la "navegación" hasta que no tenemos los datos necesarios.
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrapper">
            <h2>Proceso de carga de página</h2>
            <p class="text-intro">¿Cómo funciona el route handler paso a paso?</p>
            <ul class="flexblock steps">
              <li>
                <h2>1. Carga del componente</h2>
                <p>Vamos a buscar el componete de manera asíncrona en frontend.</p>
              </li>
              <li>
                <div class="process step-2"></div>
                <h2>2. Data Fetching</h2>
                <p>Llamamos a la función definida en dataFetcher de manera asíncrona.</p>
              </li>
              <li>
                <div class="process step-3"></div>
                <h2>3. Proceso de datos</h2>
                <p>Los datos se envían al store de la aplicación.</p>
              </li>
              <li>
                <div class="process step-4"></div>
                <h2>4. Actualizamos las vistas</h2>
                <p>Una vez tenemos todos los datos y componentes necesarios actualizamos la vista.</p>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <h2>&lt;NamedIntlLink&gt;</h2>
          <p class="text-intro">Nuestro {{ url ('named_route') }}</p>
            <ul class="flexblock steps">
              <li>Esta conectado con el sistema de traducciones</li>
              <li>Esta conectado con el store para gestión de rutas por config</li>
              <li>Gestiona parametros en la url</li>
            </ul>
            <p>
            <pre>
<code class="html">
  &lt;NamedIntlLink to=&quot;video_listing&quot; params={{ order: 'latest', otherparam: '1' }} hash="testhash"&gt;
    Latest Videos
  &lt;/NamedIntlLink&gt;
</code>
            </pre>
            <pre>
<code class="html">
&lt;a href="https://www.porntube.com/videos/latest?otherparam=1#testhash"&gt;
  Latest Videos
&lt;/a&gt;
</code>
            </pre>
          </p>
          </div>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/edwin-andrade-153753.jpg')"></span>
          <div class="wrap">
            <h2>Gestion de Usuarios</h2>
            <p class="text-intro">¿Como sobrevivir en un entorno sin sesiones?</p>
          </div>
        </section>
        <section>
          <div class="wrap aligncenter">
            <h2>JSON WEB TOKEN</h2>
          </div>
        </section>
        <section>
          <img src="static/images/jwtFlow.png" />
        </section>
        <section>
          <div class="wrap">
            <h2>JSON WEB TOKEN</h2>
            <p class="text-intro">¿Por qué lo utilizamos?</p>
            <ul class="flexblock features">
              <li>Es un estandar provado, seguro y con librerias en muchos lenguajes</li>
              <li>Tenemos demasiada distancia entre el cliente y el servidor</li>
              <li>Nos gusta el cambio de paradigma. El estado de la aplicacion ya no esta en el servidor</li>
              <li>Nos preparamos hacia el futuro con nuevos canales de consumo. Apps, SmartTV, VR...</li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>JSON WEB TOKEN</h2>
            <p class="text-intro">2 consejos</p>
            <ul class="flexblock features">
              <li><p><i class="fa fa-key"></i> La clave secreta es el punto único de fallo</p></li>
              <li><p><i class="fa fa-compress"></i> El token debe ser lo más pequeño posible</p></li>
            </ul>
          </div>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/siyan-ren-29565.jpg')"></span>
          <div class="wrap">
            <h2>SEO</h2>
          </div>
        </section>
        <section>
          <div class="wrap">
            <div class="grid">
              <div class="column">
                <h2>SEO</h2>
                <p class="text-intro">
                  En SPA's el SEO es posible.
                </p>
                <ul class="flexblock specs">
                  <li>Utilizamos react-helmet 3.x.</li>
                  <li>Se ocupa únicamente de lo que va en &lt;head /&gt;</li>
                  <li>Toda la magia ocurre en SSR.</li>
                </ul>
              </div>
              <div class="column">
                <pre>
<code class="html">
&lt;Helmet
  title="this is an amazin title"
  meta={[
    { name: 'description', content: 'Test description' },
    { name: 'keywords', content: 'This is the keywords' },
  ]}
  link={[
      {rel: "canonical", href: "http://mysite.com/example"},
  ]}
/&gt;
</code>
                </pre>
              </div>
            </div>
          </div>
        </section>
        <section class="fullscreen">
          <pre>
<code class="js">
const buildPage = ({ componentHTML, initialState, headAssets }) =&gt; (`
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    ${headAssets.title.toString()}
    ${headAssets.meta.toString()}
    ${headAssets.link.toString()}
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id=&quot;app&quot;&gt;${componentHTML}&lt;/div&gt;
    &lt;script&gt;window.INITIALSTATE = '${base64.encode(encodeURIComponent(JSON.stringify(initialState)))}'&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; charset=&quot;utf-8&quot; src=&quot;/assets/app.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
`);

export default (store, location) =&gt; {
  const initialState = store.getState();
  const componentHTML = createApp(store, location);
  const headAssets = Helmet.rewind();
  return buildPage({ componentHTML, initialState, headAssets });
};
</code>
          </pre>
        </section>
        <section class="aligncenter">
          <h2>&lt;NamedIntlLink /&gt; soporta los atributos clasicos de SEO</h2>
          <p class="text-intro">rel="nofollow" title="test title" ...</p>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/alejandro-escamilla-22.jpg')"></span>
          <div class="wrap">
            <h2>Traducciones</h2>
            <p class="text-intro">{% trans %} Casi igual de fácil que con Symfony {% endtrans %}</p>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Traducciones</h2>
            <ul class="flexblock specs">
              <li><h2>ReactIntl</h2> La versión para React de FormatJS</li>
              <li><h2>Multitud de herramientas</h2> A parte la gestión de traducciones tambien se encarga del formateo de fechas, numeros, plurales, etc...</li>
              <li><h2>babel-plugin-react-intl</h2> Extrae los mensajes a traducir del código para su traducción.</li>
              <li><h2>Basado en el estandar ICU</h2> La sintaxis tiene un formato universal entendible por muchas aplicaciones de traducción</li>
            </li>
          </div>
        </section>
        <section>
          <pre>
<code class="html">
&lt;FormattedNumber value={1000}/&gt; //esto devolveria 1,000

&lt;FormattedTime value={new Date(1459832991883)}/&gt; //esto devolveria &lt;span&gt;1:09 AM&lt;/span&gt;

&lt;FormattedMessage id="subscribe.button" defaultMessage="subscribe" /&gt;

&lt;FormattedMessage
  values={{ videoCount: this.props.videoCount }}
  id="filter.videocount"
  defaultMessage="{videoCount,number} videos"
/&gt;

&lt;FormattedMessage
  values={{ name: 'miquel', itemCount: '123432' }}
  id="welcome.message"
  defaultMessage="Hello, {name}, you have {itemCount, plural,
    =0 {no items}
    one {# item}
    other {# items}
  }."
/&gt;
</code>
          </pre>
        </section>
        <section class="slideInLeft bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/nasa-43567.jpg')"></span>
          <div class="wrap">
            <h1>Testing</h1>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Testing</h2>
            <p class="text-intro">Backend Symfony</p>
            <ul class="flexblock">
              <li><h2>Unitarios</h2>PHPUnit.</li>
              <li><h2>Integración</h2> WebTestCase, de hecho Lakion\ApiTestCase</li>
              <li><h2>Lint</h2> Reglas de Symfony estrictas.</li>
            </ul>
          </div>
        </section>
        <section>
          <div class="wrap">
            <h2>Testing</h2>
            <p class="text-intro">React</p>
            <ul class="flexblock">
              <li><h2>Unitarios con Jest</h2> Para el renderizado de componentes utilizamos Enzyme</li>
              <li><h2>Integración con Codecept.io</h2>Es completamente backend-agnostic, nosotros lo corremos contra selenium/chrome driver</li>
              <li><h2>Lint JS</h2>eslint con reglas de AirBnB estrictas.</li>
              <li><h2>Lint Sass</h2> sass-lint con reglas estrictas</li>
            </ul>
          </div>
        </section>
        <section class="fullscreen">
          <pre>
<code class="js">
import { shallow } from 'enzyme';
import React from 'react';
import Filter from '../../../components/elements/filter';

describe('Filter Component', () =&gt; {
  it('without children it should render without errors', () =&gt; {
    const wrapper = shallow(&lt;Filter /&gt;);
    expect(wrapper.exists()).toEqual(true);
  });

  it('renders &lt;Filter /&gt; component with children', () =&gt; {
    const node = &lt;div&gt;Hi&lt;/div&gt;;
    const wrapper = shallow(&lt;Filter&gt;{node}&lt;/Filter&gt;);
    expect(wrapper.contains(node)).toEqual(true);
    expect(wrapper.find('.btn-text').text()).toEqual('&lt;FormattedMessage /&gt;');
    expect(wrapper.find('.filter').hasClass('open')).toEqual(false);
    wrapper.find('.btn-text').simulate('click');
    expect(wrapper.find('.filter').hasClass('open')).toEqual(true);
    wrapper.find('.btn-text').simulate('click');
    expect(wrapper.find('.filter').hasClass('open')).toEqual(false);
  });
});
</code>
          </pre>
        </section>
        <section class="fullscreen">
          <pre>
<code class="js">
Feature('checkHomePage');

Scenario('test sign up', (I) => {
  I.amOnPage('http://tubex:3000/');
  I.see('MOST VIEWED TODAY');
  I.see('MOST RECENT PORNTUBE VIDEOS');
  I.see('TOP CHANNELS');
  I.see('FEATURED PORNSTARS');
  I.click('Sign up');
  I.fillField('username', 'testsignup');
  I.fillField('email', 'test@test.com');
  I.fillField('confirmemail', 'test@test.com');
  I.fillField('password', '123456');
  I.see('Email already in use, please use another');
  I.fillField('email', 'a@a.com');
  I.fillField('confirmemail', 'a@a.com');
  I.fillField('password', '123456');
  I.waitForElement('.tooltip.validate', 10); // secs
  I.see('You will need to validate your email to use the site, make sure you have introduced it correctly');
  I.waitForElement('.btn-primary', 10); // secs
  I.click('form button[type=submit]');
  I.waitForElement('.toast', 10); // secs
  I.see('Enjoy the site!');
});
</code>
          </pre>
        </section>
        <section class="bg-black">
          <span class="background" style="background-image:url('static/images/backgrounds/jonathan-simcoe-88013.jpg')"></span>
          <div class="wrap aligncenter">
            <h2>¿Preguntas?</h2>
          </div>
        </section>
        <section class="bg-black">
          <span class="background light" style="background-image:url('static/images/backgrounds/matt-jones-42954.jpg')"></span>
          <div class="wrap aligncenter">
            <h2>Gracias</h2>
            <p><a href="https://github.com/solilokiam/deSymfony2017">https://github.com/solilokiam/deSymfony2017</a></p>
            <p><a href="https://unsplash.com/collections/887100/desymfony">https://unsplash.com/collections/887100/desymfony</a></p>
          </div>
        </section>
      </article>
      <!-- end article -->
    </main>
    <!-- end main -->

    <!-- Required -->
    <script src="static/js/webslides.js"></script>
    <script src="static/js/highlight.pack.js"></script>
    <script>
      window.ws = new WebSlides();
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
